<h1>Dyrektywy</h1>

<a href="#" (click)="onClick()" class="btn btn-info btn-lg">Zmiana</a>

<h2>class & style</h2>

<p [ngClass]="{large: !(counter % 2), green: !(counter % 3)}">
 {{counter}} Belay, swashbuckling girl. go to jamaica.Cannibals stutter with strength at the heavy-hearted rummage island!The dark gull greedily blows the parrot.
</p>

<p [ngStyle]="{backgroundColor: ['red', 'blue', 'green', 'yellow'][counter]}">
  Sunt ollaes amor teres, lotus lunaes.Cur uria mori?Cobaltums cadunt!Ubi est flavum adelphis?Naviss sunt guttuss de fortis lacta.Absolutios sunt classiss de velox domus.
</p>


<h2>Custom atr directive></h2>

<p pgHighlight pgHoverHighlight>
  Combine celery, oysters and ghee. marinate with gooey marmalade and serve boilled with broccoli. Enjoy!
  For a diced slobbery smoothie, add some cocktail sauce and anise.Everyone just loves the creaminess of lettuce sauce tossd with rosemary.
</p>
